<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnvironmentList" value="Dev,Test,Stage,Prod"/>
    <add key="DevUrl" value="https://dev.example.com"/>
    <add key="TestUrl" value="https://test.example.com"/>
    <add key="StageUrl" value="https://stage.example.com"/>
    <add key="ProdUrl" value="https://prod.example.com"/>
    <add key="DevDownloadLocation" value="c:\Git\Dev"/>
    <add key="TestDownloadLocation" value="c:\Git\Test"/>
    <add key="StageDownloadLocation" value="c:\Git\Stage"/>
    <add key="ProdDownloadLocation" value="c:\Git\Prod"/>
  </appSettings>
</configuration>